<div ng-controller="HeaderController" ng-cloak >
<div id="top_header">
    <div id="primary_nav" class="inset_left2 inset_right2">
        <div class="primary_nav_row">
    <div class="headerIcon">
<div>
  <div class="glyph" layout="row">
    <div flex layout-align="center center" style="text-align: center;" layout="column">
      <div flex></div>
      <div class="preview-glyphs">
        <md-icon md-font-icon="{{ font.name }}"
            ng-style="{color: !font.theme && font.color, 'font-size': size.size + 'px', height: size.size + 'px'}"
            ng-class="font.theme"
            aria-label="{{ font.name + size.size }}"
            class="step "></md-icon>
      </div>

    </div>
  </div>

  <!-- For this demo, include the font-faces needed by mdIcon above -->
  <style>
    @font-face {
      font-family:"icomoon";
      src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
      font-weight:normal;
      font-style:normal;
    }

    @font-face {
      font-family: 'icomoon';
      src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
      src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
      url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
      url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
      url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
    }
  </style>
</div>

</div>

<div class="header_search">
    <!--  SEARCH BOX -->
    <div class="search_box">
        <div class="search_field_box" >
            <input class="search_input_field" type="text" ng-keyup="$event.keyCode == 13 ? searchText() : null" ng-model="search_text" placeholder="Search Movies..."/>
        </div>
        <button class="search_button mdc-button mdc-button--raised mdc-button--accent" ng-click="searchText()">
            SEARCH
        </button>
    </div>
</div>

<div id="primary_menu_wrapper">

</div>
</div>
</div>
</div>
