
<div class="movie_page">
    <!-- movie body header start -->
    <div class="movie_body_header" style="background-image: url(/img/resize?url={{backdrop_pic}}&w=o&h=p);background-size:cover;">
        <div class="movie_body_header_row">
            <div class="movie_body_header_left_part" >
                <div class="movie_info_header">
                    <div class="movie_info_row">
                        <div class="movie_page_title oswald">
                            <h1>{{ title }}</h1>
                        </div>
                    </div>
                    <div class="title_bump"></div>
                    <div class="movie_info_row">
                        <div class="movie_page_tagline">{{ tagline }}</div>
                    </div>
                    <div class="movie_info_row">
                        <!-- <div class="directed_by_row">
                            <div class="directed_by">directed by:</div>
                            <div class="directed_by_names">
                                <div class="directed_by_name">Bob Kane (characters)</div>
                                <div class="directed_by_name">David S. Goyer (story)</div>
                                <div class="directed_by_name">Christopher Nolan (screenplay)</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="movie_body_header_right_part" >
                <div class="rating_box">
                    <div class="rating_row_adjust" ng-if="imdbRating.rating">
                        <div class="movie_rating_row">
                            <div class="rating_value">{{imdbRating.rating.ratingvalue}}/{{imdbRating.rating.bestrating}}</div>
                            <div class="rating_name">IMDB</div>
                        </div>
                    </div>
                    <div class="rating_row_adjust" ng-if="imdbRating.rating">
                        <div class="title_bump"></div>
                    </div>
                    <div class="rating_row_adjust" ng-if="bhRating.rating">
                        <div class="movie_rating_row">
                            <div class="rating_value">{{bhRating.rating.ratingvalue}}/{{bhRating.rating.bestrating}}</div>
                            <div class="rating_name">Bollywoodhungama</div>
                        </div>
                    </div>
                    <div class="rating_row_adjust" ng-if="bhRating.rating">
                        <div class="title_bump"></div>
                    </div>
                    <div class="rating_row_adjust" ng-if="mmRating.rating">
                        <div class="movie_rating_row">
                            <div class="rating_value">{{mmRating.rating.ratingvalue}}/5</div>
                            <div class="rating_name">Moviemutants</div>
                        </div>
                    </div>
                    <div class="rating_row_adjust" ng-if="mmRating.rating">
                        <div class="title_bump"></div>
                    </div>
                    <div class="rating_row_adjust" ng-if="toiRating.rating">
                        <div class="movie_rating_row">
                            <div class="rating_value">{{toiRating.rating}}</div>
                            <div class="rating_name">TimesOfIndia</div>
                        </div>
                    </div>
                    <div class="rating_row_adjust" ng-if="toiRating.rating">
                        <div class="title_bump"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- movie body header END -->

    <!-- center ribbon start -->
    <div class="center_ribbon">
    </div>

    <!-- center ribbon end -->
    <div class="center_body">
        <div class="center_body_adjust">
            <div class="movie_detail_text">Movie Details:</div>
            <div class="title_bump"></div>
            <!-- Overview -  start -->
            <div class="overview">
                <div class="overview_text">Overview:</div>
                <div class="overview_content">
                    {{ overview }}
                </div>
                <div class="overview_content">
                    {{ plot }}</div>
            </div>
            <!-- Overview -  end -->

            <ng-include src="'app/sections/movie/templates/movieItemsBox.template.html'"></ng-include>

        </div>
    </div>
</div>
