<div class="movie_items_box">
    <div class="listdemoBasicUsage" ng-cloak layout-gt-sm="row" layout="column">
        <div flex-gt-sm="50" flex>

            <!-- <md-toolbar layout="row" class="md-hue-3">
              <div class="md-toolbar-tools">
                <span>Normal</span>
              </div>
            </md-toolbar> -->

            <md-content>
              <md-list flex>

                <md-subheader class="md-no-sticky">Directors :</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="director in directors" >
                  <img ng-src="/img/resize?u={{director.profile_path}}&w=130&h=120&a=1" class="casts-avatar" alt="{{director.name}}" />
                  <div class="list-item-text" layout="column">
                    <h3>{{ director.name }}</h3>
                    <div class="line-120 yellow-color"></div>
                    <div class="line-200 grey-color"></div>
                    <!-- <p>{{ director.notes }}</p> -->
                  </div>
                </md-list-item>

                <md-divider ></md-divider>

                <md-subheader class="md-no-sticky">Writers :</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="writer in writers" >
                  <img ng-src="/img/resize?u={{writer.profile_path}}&w=90&h=150&a=1" class="casts-avatar" alt="{{writer.name}}" />
                  <div class="list-item-text" layout="column">
                    <h3>{{ writer.name }}</h3>
                    <div class="line-120 green-color"></div>
                    <div class="line-200 grey-color"></div>
                    <!-- <p>{{ writer.notes }}</p> -->
                  </div>
                </md-list-item>

                <md-divider ></md-divider>

                <md-subheader class="md-no-sticky">Casts :</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="cast in casts | orderBy:'order'" >
                  <img ng-src="/img/resize?u={{cast.profile_path}}&w=130&h=120" class="casts-avatar" alt="{{cast.name}}" />
                  <div class="list-item-text" layout="column">
                    <h3>{{ cast.name }}</h3>
                    <div class="line-120 red-color"></div>
                    <div class="line-200 grey-color"></div>
                    <!-- <p>{{ cast.notes }}</p> -->
                  </div>
                </md-list-item>
              </md-list>
            </md-content>
          </div>

          <md-divider></md-divider>

          <div flex-gt-sm="50" flex>

            <!-- <md-toolbar layout="row" class="md-hue-3">
              <div class="md-toolbar-tools">
                <span>Info</span>
              </div>
            </md-toolbar> -->

            <md-content>

              <md-list class="md-dense" flex>
                <md-list-item class="md-2-line">
                    <div class="item_header">Awards:</div>
                    <div class="item_info">{{ awardInfo }}</div>
                </md-list-item>
                <md-list-item class="md-1-line">
                    <div class="item_header">Spoken Languages : </div>
                    <div class="item_info">Hindi, English, Tamil</div>
                </md-list-item>
                <md-list-item class="md-1-line">
                    <div class="item_header">Genres :</div>
                    <div class="item_info">Action, Crime, Drama</div>
                </md-list-item>
                <md-list-item class="md-1-line">
                    <div class="item_header">Production Companies :</div>
                    <div class="item_info">Awards jshdgfjkhg khjdFGHJ</div>
                </md-list-item>
                <md-list-item class="md-1-line">
                    <div class="item_header">Duration :</div>
                    <div class="item_info">{{ duration }} min</div>
                </md-list-item>
                <md-list-item class="md-1-line">
                    <div class="item_header">Release Date :</div>
                    <div class="item_info">{{ releaseDate }}</div>
                </md-list-item>
                <md-list-item class="md-1-line">
                    <div class="item_header">Year :</div>
                    <div class="item_info">{{ releaseYear }}</div>
                </md-list-item>

                <md-divider ></md-divider>

              </md-list>
            </md-content>
          </div>
        </div>
    </div>
</div>
